%h2 Apps

- if current_user.apps.present?

  %table
    %tr
      %th Name
      %th Status
      %th Link
      %th Actions
    - current_user.apps.each do |app|
      %tr
        %td= app.name
        %td 'N/A'
        %td= link_to 'Stats', app_path(app)
        %td
          = link_to 'Edit', edit_app_path(app)
          = link_to 'Delete', app_path(app), method: :delete, :confirm => 'Are you sure?'
- else
  You have no apps.