
- content_for(:sidebar) do
  = display_sidebar(@presenter.sidebar_links)


= render partial: 'adjust_ndays'

- @presenter.each_chart do |chart_presenter|
  = render partial: "single_chart", locals: {presenter: chart_presenter}


= render partial: 'query_examples'
